section {
    border-bottom: 2px solid black;
    padding: 5px;
}

table th,td {
    border:  1px solid black;
}

form div {
    margin: 10px;
}

form {
    margin:10px;
}

img {
    max-width: 5em;
}


.quesito {
    border: 2px solid black;
    padding: 10px;
}

nav {
    display: flex;
}

nav div {
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
}