* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

div form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	flex-grow: 1;
}

form div {
	display: flex;
	margin: 10px;
}

form div * {
	padding: 0.2em;
}
